.trecito {
  position: absolute;
  right: 0;
  top: 25%;
  left: 15%;
  transform: translateY(-45%);
}

/* .card2 {
  max-width: 60rem;
  max-height: 20rem;
  opacity: 0.47;
} */

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-nav.navbar-right {
  position: absolute;
  right: 10%;
}

.titulopp {
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: 68rem;
  max-height: 20rem;
  text-shadow: #2890ff 5px 5px 3px;
}
